body {
    background: #79031D;
    margin-top: -20px;
    margin-left: 0;
    margin-right: 171px;
}


nav {
    background-color: black;
    margin-right: -171px;

}

 h1 {
     color: black;
     font-family: Inter;
     font-size: 88px;
     background: #ffe4b5;
     text-align: center;
     margin-top: 0;
     margin-left: 0;
     margin-right: -171px;
     margin-bottom: 0;
 }


ul {
    list-style-type: none;
    background-color: black;
    img {
        object-fit: cover;
        margin-right: 300px;
    }
}
li {
    a {
    text-decoration: none;
        color: white;
}
    a:hover {
        background-color: #3b3d3b;
    }
    font-family: Inter;
    margin-top: -10px;
    margin-bottom: -10px;
    color: white;
    font-size: 82px;
    text-align: center;
    float: none;
    display: inline-block;
    padding: 20px;
}



div {
    img {
        margin-left: 450px;
            border: 6px solid #ffe4b5;
    }
}

h2 {
    background: #ffe4b5;
    text-align: center;
    margin-right: -171px;
}